<!DOCTYPE html>
<html>
<head>
  <title>Trainset</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% unless ['users', 'sessions', 'registrations'].include?(controller.controller_name) %>
  <ul class="user_menu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <% end %>

  <%= render :partial => 'layouts/flash_messages' %>
  
  <%= yield %>
</body>
</html>
